<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
	<!-- 仮ユーザー登録 -->
	<insert id="insertProvisionalMember">
		insert into provisional_users
			(name,password,authority,uuid,register_date,verification_code)
		values
			(#{member.mailAddress},#{member.password},#{member.authority},#{member.uuid},#{member.registerDate},#{member.verificationCode})
	</insert>
	<!-- 仮ユーザー用のテーブルから本ユーザーのテーブルにコピー -->
	<select id="findByProvisionalMember" resultType="Member">
		select
			register_date
		from
			provisional_users
		where
			uuid=#{uuid}
	</select>
	<insert id="insertMember">
		insert into users
			(name,password,verification_code,authority,locked,deleted,is_locked,unlocked_key)
		select
			name,password,verification_code,authority,0,false,false,000000
		from
			provisional_users
		where uuid=#{uuid}
	</insert>
	<!--登録時に既に登録されているか確認 -->
	<select id="findByMailAddress" resultType="Member">
		select
			name as mailAddress,
			password,
			authority,
			verification_code,
			locked,
			deleted,
			is_locked,
			unlocked_key,
			locked_date
		from
			users
		where
			name=#{mailAddress}
	</select>
	<!--本登録時に仮ユーザー削除 -->
	<delete id="deleteByProvisionalUser">
		delete
		from provisional_users
		where name=#{mailAddress}
	</delete>
	<update id="updateUser">
		update
			users
		<set>
			name=#{member.mailAddress},
			password=#{member.password},
			verification_code=#{member.verificationCode},
			<if test="member.locked &gt; 5 and is_locked=true">
			is_locked = false,
			locked=0
			</if>
		</set>
		where
			name=#{member.mailAddress}
	</update>
	<update id="updateLocker">
		update
			users
		<set>
			<if test="member.locked &lt;= 5">
			locked=#{member.locked} + 1,
			</if>
			<if test="member.locked &gt; 5">
			is_locked = true,
			</if>
			unlocked_key = #{member.unlockedKey},
			locked_date = #{member.lockedDate}
		</set>
		where
			name=#{member.mailAddress}
	</update>
</mapper>